services:
  smarthome-server:
    build: smarthome-server  
    ports:      
      - 8080:8080
  smarthome-ui:
    build: smarthome-ui  
    ports:
      - 80:80
  smarthome-db:
    image: mariadb:10.2
  grafana:
    build: grafana
    environment:
    - GF_SERVER_ROOT_URL=http://localhost:3000
    - GF_SECURITY_ALLOW_EMBEDDING=true
  prometheus:
    build: prometheus
  alertmanager:
    build: alertmanager
  blackbox-exporter:
    build: blackbox-exporter
  influxdb:
    build: influxdb
    ports:  
    - 8086:8086
    volumes:
    - smarthome-influxdb-data:/var/lib/influxdb
