services:
  smarthome-server:
    environment:
    - SMARTHOME_ENV=${SMARTHOME_ENV}
    - MYSQL_SMARTHOME_USER=${MYSQL_SMARTHOME_USER}
    - MYSQL_SMARTHOME_PASSWORD=${MYSQL_SMARTHOME_PASSWORD}
    - SMARTHOME_CRYPTO_KEY=${SMARTHOME_CRYPTO_KEY}
    - TZ=Europe/Rome
    image: cecchisandrone/smarthome-server:latest
    ports:
    - 8080:8080
    restart: always
  smarthome-ui:
    image: cecchisandrone/smarthome-ui:latest
    ports:
    - 80:80
    restart: always
    volumes:
    - /mnt/wdtvlive:/mnt/wdtvlive
  smarthome-db:
    environment:
    - MYSQL_ROOT_PASSWORD=${MYSQL_SMARTHOME_ROOT_PASSWORD}
    - MYSQL_DATABASE=${MYSQL_SMARTHOME_DATABASE}
    - MYSQL_USER=${MYSQL_SMARTHOME_USER}
    - MYSQL_PASSWORD=${MYSQL_SMARTHOME_PASSWORD}
    image: hypriot/rpi-mysql:5.5
    ports:
    - 4306:3306
    volumes:
    - smarthome-mysql-data:/var/lib/mysql
    restart: always
  influxdb:
    image: arm32v7/influxdb:1.8.10
    ports:
    - 8086:8086
    volumes:
    - smarthome-influxdb-data:/var/lib/influxdb
    restart: always
  grafana:
    image: grafana/grafana:6.7.6
    environment:
    - GF_SERVER_ROOT_URL=http://smarthome.cecchisandrone.net/grafana/
    - GF_SECURITY_ALLOW_EMBEDDING=true
    ports:
    - 3000:3000
    volumes:
    - smarthome-grafana-data:/var/lib/grafana
    restart: always
  prometheus:
    image: cecchisandrone/prometheus:latest
    restart: always
    command: --storage.tsdb.retention.time=60d --config.file=/etc/prometheus/prometheus.yml
    ports:
    - 9090:9090
    volumes:
    - smarthome-prometheus-data:/prometheus
  alertmanager:
    image: cecchisandrone/alertmanager:latest
    command: --config.file=/etc/alertmanager/config.yml
    ports:
    - 9093:9093
    restart: always
  blackbox-exporter:
    command: --log.level=info --config.file=/etc/blackbox_exporter/config.yml
    image: cecchisandrone/blackbox-exporter:latest
    ports:
    - 9115:9115
    restart: always
    sysctls:
      net.ipv4.ping_group_range: "0 2147483647"
  restreamer:
    image: datarhei/restreamer:2.10.0
    restart: always
    volumes:
      - /opt/restreamer/config:/core/config
      - /opt/restreamer/data:/core/data
    ports:
      - 9091:8080
      - 9092:8181
      - 1935:1935
      - 1936:1936
      - 6000:6000/udp
  traefik:
    image: traefik:3.6.2
    restart: always
    command:
      - "--log.level=info"
      - "--api=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.dnschallenge=true"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.myresolver.acme.email=${TRAEFIK_SSL_EMAIL}"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"
    environment:
      - CF_API_EMAIL=${CF_API_EMAIL}
      - CF_API_KEY=${CF_API_KEY}
    ports:
      - "9080:80"
      - "9443:443"
    volumes:
      - smarthome-traefik-data:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
  n8n:
    image: docker.n8n.io/n8nio/n8n:1.123.0
    restart: always
    ports:
      - "127.0.0.1:5678:5678"
    labels:
      - traefik.enable=true
      - traefik.http.routers.n8n.rule=Host(`${N8N_SUBDOMAIN}.${N8N_DOMAIN_NAME}`)
      - traefik.http.routers.n8n.tls=true
      - traefik.http.routers.n8n.entrypoints=web,websecure
      - traefik.http.routers.n8n.tls.certresolver=myresolver
      - traefik.http.middlewares.n8n.headers.SSLRedirect=true
      - traefik.http.middlewares.n8n.headers.STSSeconds=315360000
      - traefik.http.middlewares.n8n.headers.browserXSSFilter=true
      - traefik.http.middlewares.n8n.headers.contentTypeNosniff=true
      - traefik.http.middlewares.n8n.headers.forceSTSHeader=true
      - traefik.http.middlewares.n8n.headers.SSLHost=${N8N_DOMAIN_NAME}
      - traefik.http.middlewares.n8n.headers.STSIncludeSubdomains=true
      - traefik.http.middlewares.n8n.headers.STSPreload=true
      - traefik.http.middlewares.n8n.headers.accessControlAllowMethods=GET,OPTIONS,POST
      - traefik.http.middlewares.n8n.headers.accessControlAllowHeaders=*
      - traefik.http.middlewares.n8n.headers.accessControlAllowOriginList=https://fuenrc3b45yfcnzqt3v7y4swui0wwviy.lambda-url.eu-west-1.on.aws
      - traefik.http.middlewares.n8n.headers.accessControlMaxAge=100
      - traefik.http.middlewares.n8n.headers.addvaryheader=true
      - traefik.http.routers.n8n.middlewares=n8n@docker
    environment:
      - N8N_HOST=${N8N_SUBDOMAIN}.${N8N_DOMAIN_NAME}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://${N8N_SUBDOMAIN}.${N8N_DOMAIN_NAME}:${TRAEFIK_SSL_PORT}/
      - N8N_EDITOR_BASE_URL=https://${N8N_SUBDOMAIN}.${N8N_DOMAIN_NAME}:${TRAEFIK_SSL_PORT}/
      - GENERIC_TIMEZONE=${N8N_GENERIC_TIMEZONE}
      - N8N_RUNNERS_ENABLED=true
      - DB_SQLITE_POOL_SIZE=5
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_PROXY_HOPS=1
      - N8N_CORS_ORIGIN=https://fuenrc3b45yfcnzqt3v7y4swui0wwviy.lambda-url.eu-west-1.on.aws
      - N8N_CORS_ALLOW_HEADERS=Authorization,Content-Type
      - N8N_CORS_METHODS=GET,POST,OPTIONS
    volumes:
      - smarthome-n8n-data:/home/node/.n8n
      - ./local-files:/files
volumes:
  smarthome-mysql-data:
  smarthome-grafana-data:
  smarthome-influxdb-data:
  smarthome-prometheus-data:
  smarthome-traefik-data:
  smarthome-n8n-data:
